body {
    font-family: 'Rottering', cursive;
    color: #E55451; /* Original poem text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: black;
    overflow: hidden;
}

#generateLoveQuote {
    font-family: 'Rottering', cursive;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    background: #FFD700; /* Gold button color */
    color: #5C2E3D; /* Deep magenta text color */
    border: none;
    outline: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#generateLoveQuote:hover {
    background: #DAA520; /* Darker gold on hover */
    color: #FFFFFF; /* White text on hover */
}

#alternativeBackground,
#backgroundImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 1s ease-in-out;
}

#alternativeBackground {
    opacity: 1;
}

#backgroundImage {
    opacity: 0;
}

#muteButton {
    font-family: 'Rottering', cursive;
    font-size: 1.2em;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: color 0.3s ease-in-out;
    position: fixed;
    top: 20px;
    right: 20px;
}

#muteButton:hover {
    color: #FFD700; /* Gold on hover */
}

#viewPoemButton {
    font-family: 'Rottering', cursive;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    transition: color 0.3s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Initially hide the button */
}

#viewPoemButton:hover {
    color: #FFD700; /* Gold on hover */
}

#poem {
    color: #E55451; /* Original poem text color */
}

#loveQuote {
    color: #7D3C98; /* Romantic purple for generated text */
}

#affectionMessage {
    color: #4A90E2; /* Soft blue for affection message */
}
